body {
  font-family: 'Catamaran', sans-serif;
  padding: 1rem;
  margin: 0;
}

h1 {
  font-family: 'Catamaran', sans-serif;
  font-weight: 900;
  font-size: 2.8rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  color: white;
  font-size: 1.4rem;
}

p {
  color: white;
  font-size: 1.8rem;
  text-align: justify;
  padding: 1rem;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

button {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  color: black;
  font-size: 2.4rem;
  text-align: justify;
  font-family: 'Catamaran', sans-serif;
  cursor: pointer;
}

button:hover {
  color: white;
}

/*.scrollWindow {
  display: block;
  height: 90%;
  overflow: scroll;
} tentativa de scroll na div */

.subheader {
  display: flex;
  flex-direction: row;
}

.subBtn {
  padding-top: 1rem;
  font-size: 2rem;
  color: white;
  width: 50%;
  height: 100%;
  text-align: center;
}

.subBtn:hover {
  background-color: #4CAF50; /* Green */
}

#sub0_btn0 {
  border: 2;
  background-color: red;
  font-weight: 900;
  font-size: 2.4rem;
}

#sub0_btn1 {
  border: 2;
  font-weight: 900;
  font-size: 2.4rem;
}

#sub0_btn0:hover {
    border-radius: 0rem 0rem 0rem 0rem;
    background-color: LightCoral;
}

#sub0_btn1:hover {
  border-radius: 0rem 1rem 0rem 0rem;
  background-color: LightCoral;
}

#sub1_btn0 {
  background-color: blue;
  font-weight: 900;
  font-size: 2.4rem;
}

#sub1_btn1 {
  font-weight: 900;
  font-size: 2.4rem;
}

#sub1_btn2 {
  border-radius: 0rem 1rem 0rem 0rem;
  font-weight: 900;
  font-size: 2.4rem;
}

#sub1_btn0:hover {
  background-color: CornflowerBlue;
}

#sub1_btn1:hover {
  background-color: CornflowerBlue;
}

#sub1_btn2:hover {
  border-radius: 0rem 1rem 0rem 0rem;
  background-color: CornflowerBlue;
}

#sub2_btn0 {
  background-color: green;
  font-weight: 900;
  font-size: 2.4rem;
}
/*
.master-grid-container {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-template-areas:

      "ti ti ti ti ti ti ti ti ti .  .  .  .  .  .  .  .  . "
      "ca ca ca ca ca ca ca ca ca in in in in in in in in in"
      "ca ca ca ca ca ca ca ca ca in in in in in in in in in"
      "ca ca ca ca ca ca ca ca ca in in in in in in in in in"
      "ca ca ca ca ca ca ca ca ca in in in in in in in in in"
      "ca ca ca ca ca ca ca ca ca in in in in in in in in in"
      "ca ca ca ca ca ca ca ca ca in in in in in in in in in"
      "ca ca ca ca ca ca ca ca ca in in in in in in in in in"
      "ca ca ca ca ca ca ca ca ca in in in in in in in in in"
      "ca ca ca ca ca ca ca ca ca in in in in in in in in in"
      "sa sa sa sb sb sb sc sc sc .  .  .  .  .  .  .  .  . ";
}*/

.master-grid-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-template-areas:

      "ti ti ti ti ti ti ti ti ti"
      "ca ca ca ca ca ca ca ca ca"
      "ca ca ca ca ca ca ca ca ca"
      "ca ca ca ca ca ca ca ca ca"
      "ca ca ca ca ca ca ca ca ca"
      "sa sa sa sb sb sb sc sc sc"
      "in in in in in in in in in"
      "in in in in in in in in in"
      "in in in in in in in in in"
      "in in in in in in in in in"
      "in in in in in in in in in"
      "in in in in in in in in in"
      "in in in in in in in in in"
      "in in in in in in in in in"
      "in in in in in in in in in";
}

.grid-item {

}

#containerTitulo {
    grid-area: ti;
    padding: 1rem;
    display: flex;
    align-content: center;
    justify-content: center;

}

#canv {
  grid-area: ca;
  border-style: solid solid none solid;
  background-color: red;
}

#infoPannel0 {
  grid-area: in;
  background-color: black;
  text-align: center;
  border-radius: 0rem 1rem 1rem 0rem;
  /*display: flex;*/
  /*flex-direction: column;*/
}

#subcontent00 {

}

#subcontent01 {
  display: none;
}

#infoPannel1 {
  display: none;
  grid-area: in;
  background-color: black;
  text-align: center;
  border-radius: 0rem 1rem 1rem 0rem;
  /*display: flex;*/
  /*flex-direction: column;*/
}

#subcontent10 {

}

#subcontent11 {
  display: none;
}

#subcontent12 {
  display: none;
}

.design_projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  border-color: white;
  border-style: solid solid solid solid;
  border-radius: 2rem 2rem 2rem 2rem;
}

#design_project_00 {
    border-style: solid solid solid solid;
}

.design_projects > img {
  height: 15rem;
  width: 15rem;
  border-radius: 2rem 2rem 2rem 2rem;

}

.design_projects_desc {
  display: flex;
  flex-direction: column;
}

#research_project_00 {
    border-style: solid solid solid solid;
}

#infoPannel2 {
  display: none;
  grid-area: in;
  background-color: black;
  text-align: center;
  border-radius: 0rem 1rem 1rem 0rem;
  /*display: flex;*/
  /*flex-direction: column;*/
}

#imagegrid20 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(260px, auto); /* arrumar esse 260px */
}

.imageitem {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: white;
  cursor: pointer;
}

.imageitem:hover {
  background-color: #4CAF50; /* Green */
}

#imageitem23:hover{
    border-radius: 0rem 0rem 1rem 0rem;
}

#imageitem20 {
  border-style: solid solid  solid none;
}

#imageitem21 {
  border-style: solid none solid none;
}

#imageitem22 {
  border-style: none solid solid none;
}

#imageitem23 {
  border-style: none solid solid none;
}

/*#infoPannel3 {
  display: none;
  grid-area: in;
  background-color: black;
  text-align: center;
  border-radius: 0rem 1rem 1rem 0rem;
  display: flex;
  flex-direction: column;
}*/

#submenu0 {
  grid-area: sa;

  display: flex;
  align-content: center;
  justify-content: center;

  border-style: solid none solid solid;
  border-radius: 0rem 0rem 0rem 1rem;
  padding-left: 0rem;


  font-family: 'Catamaran', sans-serif;
  font-weight: 900;
}

#butt0 {
  font-weight: 900;
}

#butt0:hover{
  background-color: red;
  color: red;
}

#submenu1 {
  grid-area: sb;

  display: flex;
  align-content: center;
  justify-content: center;

  border-style: solid none solid dashed;
  padding-left: 0rem;

  font-family: 'Catamaran', sans-serif;
  font-weight: 900;
}

#butt1 {
  font-weight: 900;
}

#butt1:hover{
  background-color: blue;
  color: blue;
}

#submenu2 {
  grid-area: sc;

  display: flex;
  align-content: center;
  justify-content: center;

  border-style: solid solid solid dashed;
  border-radius: 0rem 0rem 1rem 0rem;
  padding-left: 0rem;

  font-family: 'Catamaran', sans-serif;
  font-weight: 900;
}

#butt2 {
  font-weight: 900;
}

#butt2:hover{
  background-color: green;
  color: green;
}



/*#submenu3 {
  grid-area: sd;
  border-radius: 0rem 0rem 1rem 0rem;
  border-style: solid solid solid dashed;
  padding-left: 1rem;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: 'Catamaran', sans-serif;
}
