body {
  font-family: 'Catamaran', sans-serif;
  padding: 1rem;
  margin: 0;
}

h1 {
  font-family: 'Catamaran', sans-serif;
  font-weight: bold;
  font-size: 2.8rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  color: white;
  font-size: 1.4rem;
}

p {
  color: white;
  font-size: 1.8rem;
  text-align: justify;
  padding: 5rem;
  font-weight: lighter;
}

button {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  color: black;
  font-size: 1.8rem;
  text-align: justify;
  font-family: 'Catamaran', sans-serif;
  cursor: pointer;
}

button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.subheader {
  display: flex;
  flex-direction: row;
}

.subBtn {
  padding-top: 1rem;
  font-size: 2rem;
  color: white;
  width: 50%;
  height: 100%;
  text-align: center;
}

.subBtn:hover {
  background-color: #4CAF50; /* Green */
  border-radius: 0rem 1rem 0rem 0rem;
}

.master-grid-container {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-template-areas:

      "ti ti ti ti ti ti ti ti ti .  .  .  .  .  .  .  .  . "
      "ca ca ca ca ca ca ca ca ca in in in in in in in in in"
      "ca ca ca ca ca ca ca ca ca in in in in in in in in in"
      "ca ca ca ca ca ca ca ca ca in in in in in in in in in"
      "ca ca ca ca ca ca ca ca ca in in in in in in in in in"
      "ca ca ca ca ca ca ca ca ca in in in in in in in in in"
      "ca ca ca ca ca ca ca ca ca in in in in in in in in in"
      "ca ca ca ca ca ca ca ca ca in in in in in in in in in"
      "ca ca ca ca ca ca ca ca ca in in in in in in in in in"
      "ca ca ca ca ca ca ca ca ca in in in in in in in in in"
      "sa sa sa sb sb sb sc sc sc .  .  .  .  .  .  .  .  . ";
}

.grid-item {

}

#containerTitulo {
    grid-area: ti;
    padding: 1rem;
    display: flex;
    align-content: center;
    justify-content: center;

}

#canv {
  grid-area: ca;
  border-style: solid none none solid;
}

#infoPannel0 {
  grid-area: in;
  background-color: black;
  text-align: center;
  border-radius: 0rem 1rem 1rem 0rem;
  /*display: flex;*/
  /*flex-direction: column;*/
}

#subcontent00 {

}

#subcontent01 {
  display: none;
}

#infoPannel1 {
  display: none;
  grid-area: in;
  background-color: black;
  text-align: center;
  border-radius: 0rem 1rem 1rem 0rem;
  /*display: flex;*/
  /*flex-direction: column;*/
}

#infoPannel2 {
  display: none;
  grid-area: in;
  background-color: black;
  text-align: center;
  border-radius: 0rem 1rem 1rem 0rem;
  /*display: flex;*/
  /*flex-direction: column;*/
}

#infoPannel3 {
  display: none;
  grid-area: in;
  background-color: black;
  text-align: center;
  border-radius: 0rem 1rem 1rem 0rem;
  /*display: flex;*/
  /*flex-direction: column;*/
}

#submenu0 {
  grid-area: sa;
  border-style: solid none solid solid;
  border-radius: 0rem 0rem 0rem 1rem;
  padding-left: 1rem;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: 'Catamaran', sans-serif;
}

#submenu1 {
  grid-area: sb;
  border-style: solid none solid dashed;
  padding-left: 1rem;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: 'Catamaran', sans-serif;
}

#submenu2 {
  grid-area: sc;
  border-style: solid solid solid dashed;
  border-radius: 0rem 0rem 1rem 0rem;
  padding-left: 1rem;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: 'Catamaran', sans-serif;
}

/*#submenu3 {
  grid-area: sd;
  border-radius: 0rem 0rem 1rem 0rem;
  border-style: solid solid solid dashed;
  padding-left: 1rem;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: 'Catamaran', sans-serif;
}
